name: Analiza rynkowa

on:
  push:
    branches:
      - main
  workflow_dispatch:   # Dodajemy możliwość uruchomienia ręcznego

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Krok 1: Pobranie repozytorium
      - name: Checkout repository
        uses: actions/checkout@v3

      # Krok 2: Debugowanie katalogu roboczego
      - name: Debug current directory
        run: pwd && ls -l

      # Krok 3: Sprawdzenie obecności pliku requirements.txt
      - name: Check for requirements file
        run: ls -l ./requirements.txt

      # Krok 4: Instalacja wymaganych bibliotek
      - name: Install dependencies
        run: pip install -r ./requirements.txt

      # Krok 5: Uruchomienie skryptu analizy
      - name: Run analysis script
        run: python analiza.py
